.Contact {
  min-height: 650px;
  text-align: center;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  line-height: 20px;
  max-width: 800px;
  width: 100%;
  margin: auto;

  .Title {
    .ContactTitle {
      margin-top: 100px;
      color: #555555;
      line-height: 1.2;
      text-transform: uppercase;
      letter-spacing: 2px;
      width: 100%;
      display: block;
      padding-bottom: 34px;
      font-weight: bold;
      font-size: 30px;
    }
  }

  .Form {
    font-size: 14px;
    color: #666666;
    border: #00ad5f 1px;
    box-sizing: border-box;
  }
  .FormContact {
    width: 100%;
    position: relative;
    margin-bottom: 30px;

    input {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
    }
    .Name{
      width: 100%;
      padding: 10px 10px;
    }
    .Email{
      width: 100%;
    }
    .Type{
      width: 100%;
      text-align: left;
      display: inline-block;
      margin-right: 20px;
    }
    .Select{
      display: inline-block;
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      color: #666666;

    }
    .Content{
      width: 100%;
    }
    .Button{
      cursor: pointer;
      width: 100%;
      border: none;
      background: #00ad5f;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;

      &:hover{
        background: #00863f;
        -webkit-transition: background 0.3s ease-in-out;
        -moz-transition: background 0.3s ease-in-out;
        transition: background-color 0.3s ease-in-out;

      &:active {
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
      }
    }
  }

}