.ListPost {
  clear: both;
  text-align: center;

  :hover {

  }

  .Title {
    text-align: center;

    h3 {
      margin: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;

    li {
      width: 33.33%;
      float: left;
      margin-top: 15px;
      padding: 15px;
      //border: red solid 1px;
    }
  }
}

@media only screen and (max-width: 850px) {
  .ListPost {

    ul {
      li {
        width: 50%;
        float: left;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ListPost {
    ul {
      li {
        width: 100%;
        float: left;
      }
    }
  }
}