.PostElement {
  position: relative;

  .Item {

    .Caption {
      padding: 15px;

      img {
        width: 100%;
      }
    }

    .Title {
      text-transform: uppercase!important;
      font: 700 14px/21px "Open Sans", sans-serif;
      color: #474747;
      margin-top: 15px;
    }

    .HashTag {
      text-transform: uppercase!important;
      font: 400 12px/18px "Open Sans", sans-serif;
      color: #888888;
      margin-top: 5px;
    }
  }

  .ItemHover {
    position: absolute;
    background-color: red;
  }
}