.Header {
    //background-color: #333;
    background-color: red;
    .Logo {
        float: left;
        height: 40px;
        width: 40px;

        img {
            height: 100%;
        }
    }

}