.Navbar {
  background-color: #333;
  font-weight: bold;

  .Logo {
    height: 50px;
    width: 50px;
    float: left;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;

    li {
      float: left;
      background-color: #333;

      a {
        font-family: "Arial", sans-serif;
        display: block;
        color: #c6cfda;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }

      a:hover {
        text-decoration: none;
      }

      active {
        background-color: #4CAF50;
        color: #c6cfda;
      }
    }

    .RightButton {
      float: right;
      background: none;
      text-align-all: center;
      margin-right: 25px;
      padding-top: 10px;

      a {
        border: #c6cfda 1px solid;
        background-color: #333;
        text-decoration: none;
        padding: 4px 12px;
        border-radius: 3px;
        line-height: 21px;
        color: #c6cfda;
        transition: all 500ms ease-in-out;

        &:hover {
          color: #c6cfda;
          background-color:  #00ad5f;
        }
      }
    }

    li:hover:not(.RightButton) {
      background-color: #00ad5f;
    }
  }
}